import{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,800&display=swap');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



.navbar{
    background-color: rgba(0,0,0,0.8);
    color:white;
    height:65px;
    
}

#background{
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2;
}

.headerFlexContainer{
    display: flex;
    justify-content: space-between;
    height:100%;
    
}
.leftFlexContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:100%;

}

.leftHeaderName{
    font-weight: bold;
    font-size: xx-large;
    color:white;
    margin-left: 30px;
    margin-top: 12px;
    text-transform: uppercase;
    
}

ul{
    list-style-type: none;
    
}
li a:link,a:visited{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: x-large;
    
}
.rightLinksFlexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    gap:20px;
    list-style: none;
}
.layer1{
    background-color: rgba(0,0,0,0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
    padding:90px;
}
.layer1TextContainer{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
    gap:15px;
}
.layer1TextContainer h1{
    text-transform: uppercase;
}
.layer1TextContainer a:hover{
    box-shadow: 0 0 2em rgb(69 69 69);
}
.joinButton{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: black;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    
    text-decoration: none;
    font-weight: bold;
    margin-top: 25px;
    
}
.baki-layer1-image{
    width:300px;
    height:400px;
    border-radius: 15px;
    box-shadow: 0 0 2em rgb(69 69 69);
}

.cards h2{
    text-align: center;
    font-weight: bold;
    margin: 15px;
    
    border:2px solid red;
    background-color: black;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.cardsFlexContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cardsFlexContainer img{
    width: 12em;
    height: 14em;
    object-fit: cover;
    border: 0.3em solid rgb(255, 255, 255);
    border-radius: 1.5em;
    box-shadow: 0 10px 30px black;
    margin:10px;
}
.cardsFlexContainer h3{
    color:white;
    font-weight: bold;
    text-align: center;

}

.quoteLayer{
    background-color: rgba(128, 128, 128,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-shadow: 0 0 1em black, 0 0 2em black;
    font-weight: bold;
    padding:0, 200px;
    height:300px;
}
.quoteFlexContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 11em 0;
    font-size: 24px;
    
    letter-spacing: 2px;
    
}
.quoteFrom{
    margin-top: 45px;
}

.layer4BackgroundFlex{
    background-image: linear-gradient(rgb(14, 3, 3),rgb(56, 9, 9));
    
    
    padding: 2.5em 0;
}
.layer4FlexContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    line-height: 55px;
    color:white;
}
.supportLink a:link,a:visited{
    width: 110px;
    border: none;
    background: black;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.supportLink a:hover{
    box-shadow: 0 0 2em rgb(69 69 69);
}

.footerLayer{
    background-color: #1F2937;
    color: #fff;
}

.footerLayer p{
    text-align: center;
}