*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: black;
    color:white;
    height:65px;
    
}

.headerFlexContainer{
    display: flex;
    justify-content: space-between;
    height:100%;
    
}
.leftFlexContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:100%;

}
.leftImage{
    height:65px;
    border-radius: 100%;
    
}
.leftHeaderName{
    font-weight: bold;
    font-size: xx-large;
    color:white;
    margin-left: 30px;
    margin-top: 12px;
    
}

ul{
    list-style-type: none;
    
}
li a:link,a:visited{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: x-large;
    
}
.rightLinksFlexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    gap:20px;
    list-style: none;
}
.layer1{
    background-color: rgb(15 42 87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
    padding:90px;
}
.layer1TextContainer{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
    gap:15px;
}
.joinButton{
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
    margin-top: 25px;
}
.baki-layer1-image{
    width:300px;
    height:400px;
}
